/*
general--------------------------------------------------------------------------------
*/
:root {
  font-family: "Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* --text-primary: #2eff7b;
  --background: #000000; */
  --text-primary: #000000;
  --background: #ffffff;
  --tag-background: #e6e6e6;
  --tag-border-color: #A9A9A9;
}

html {
  scrollbar-color: var(--text-primary) var(--background);
}

body {
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  background-color: var(--background);
}


.container {
  margin-top: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 4rem;
}

.centered-welcome {
  margin: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 600px){
  .container {
    margin-top: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .centered-welcome {
    margin: auto;
    width: 50%;
    text-align: center;
  }
}

/*
navigationbar----------------------------------------------------------------------------
*/

/*
mobile navigation bar behavior
*/

/*
navbar
*/
header.navbar {
  top: 0;
  position: fixed;
  background-color: var(--background);
  box-shadow: 0 2px 5px #aaaaaa;
  width: 100%;
  z-index: 3;
}

header.navbar img.logo {
  top: 0.5rem;
  left: 1rem;
  position: absolute;
  width: 40px; 
  height: 32px;
}

header.navbar h2 {
  display: none;
  position: relative;
  left: 0;
  bottom: 0;
}

header.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

header.navbar ul li a{
  display: block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: var(--text-primary);
  text-align: center;
}

header.navbar ul li a:hover {
  cursor: pointer;
  font-weight: 900;
}

/*
navbar items
*/
header.navbar ul.nav-list {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/*
menu icon
*/
header.navbar label.menu-icon {
  cursor: pointer;
  float: right;
  padding: 1.5rem 1.5rem;
  position: relative;
  user-select: none;
}

header.navbar .menu-icon .nav-icon {
  background: var(--text-primary);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header.navbar .menu-icon .nav-icon:before,
header.navbar .menu-icon .nav-icon:after {
  background: var(--text-primary);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header.navbar .menu-icon .nav-icon:before {
  top: 5px;
}

header.navbar .menu-icon .nav-icon:after {
  top: -5px;
}

/*
menu btn
*/

header.navbar .menu-btn {
  display: none;
}

header.navbar .menu-btn:checked ~ ul.nav-list {
  max-height: 240px;
}

header.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

header.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

/*
social media icons
*/
header.navbar ul.nav-list li.social-media {
  display: none;
}

/*
navigation bar for big screens
*/
@media only screen and (min-width: 48em){

  header.navbar {
    box-shadow: none;
  }

  header.navbar img.logo {
    padding: 0.5rem 1.5rem;
    position: relative;
    width: 60px;
    height: 46px;
  }

  /* header.navbar img {
  } */

  header.navbar h2 {
    display: inline;
    left: 1rem;
    bottom: 1rem;
  }

  header.navbar ul li {
    float: left;
  }

  header.navbar ul li a {
    padding: 1.5rem 1.5rem;
  }

  header.navbar ul.nav-list {
    clear: none;
    max-height: none;
    float: right;
  }

  header.navbar label.menu-icon {
    display: none;
  }

  header.navbar ul.nav-list li.social-media {
    display: block;
    padding: 0;
    margin: 0;
  }

  header.navbar ul.nav-list li.social-media a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }

  header.navbar ul.nav-list li.social-media a img {
    width: 20px;
    height: 20px;
  }


}

/*
footer
*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  z-index: 3;
}

footer ul {
  list-style: none;
}

footer ul li.footer-list-item {
  float: left;
  margin-right: 0.5rem;
}

footer ul li.footer-list-item a {
  text-decoration: none;
}

footer ul li.footer-list-item a img {
  width: 20px;
  height: 20px;
}

footer p {
  font-size: 0.8rem;
}

@media only screen and (min-width: 48em){
  footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: var(--background);
    z-index: 3;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer ul {
    display: none;
  }
}

/*
about page---------------------------------------------------------------------
*/
.about {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.round-profile-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

@media only screen and (min-width: 48em){
  .about {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}


/*
intro
*/
.intro {
  display: block;
  width: 100%;
}

.intro p {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.intro h1 {
  margin: 0 0 0.5rem 0;
}

.intro h3 {
  margin: 0 0 0.5rem 0;
}

@media only screen and (min-width: 48em){
  .intro {
    width: 50%;
  }
}

/*
latest notes section--------------------------------------------------------------
*/

.latest-container {
  margin-top: 4rem;
  display: block;
}

.latest-container .latest-notes {
  width: 100%;
}

.latest-container .latest-notes ul {
  list-style-type: none;
  padding: 0;
}

.latest-container .latest-notes ul li.card {
  border: 1px;
  border-style: solid;
  border-color: var(--tag-background);
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.latest-container .latest-notes ul li.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.latest-container .latest-notes ul li.card a {
  text-decoration: none;
  color: var(--text-primary);
}

li.latest-notes-tag {
  border-style: none;
}

.latest-notes-tag a {
  background-color: var(--tag-background);
  font-size: smaller;
  border-style: none;
  border-radius: 10%;
  padding: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.latest-notes-tag a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media only screen and (min-width: 48em){
  .latest-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .latest-container .latest-notes {
    width: 50%;
  }
}