<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partialCached "head" .}}
  </head>
  <body>
    {{ partialCached "navbar" . }}
    <!-- Code that all your templates share, like a header -->
    <div class="container">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partialCached "footer" . }}
    <script language="javascript" src="{{ "javascript/dark-mode-toggler.js" | relURL }}"></script>
  </body>
</html>
