<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ block "title" . }}
  {{ .Site.Title }}
{{ end }}</title>
<link rel="icon" href="{{ "images/favicon.ico" | relURL }}">
<link rel="stylesheet" href="{{ "stylesheets/app.css" | relURL}}">
<link rel="stylesheet" href="{{ "stylesheets/icons.css" | relURL}}">
<!-- <script language="javascript">
  const toggleSwitch = localStorage.getItem('toggleSwitch');
  const currentTheme = localStorage.getItem('theme');

  if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);
    
      if (currentTheme === 'dark') {
          toggleSwitch.checked = true;
      }
  }
</script> -->