<header class="navbar">
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="nav-list">
        <li><a href="{{"/" | relURL}}">Home</a></li>
        <li><a href="{{ "about" | relURL }}">About</a></li>
        <li class="social-media">
            <a href="https://github.com/adrinamin">
                <img src="{{ "images/github.png" | relURL }}">
            </a>
        </li>
        <li class="social-media">
            <a href="https://ch.linkedin.com/in/adrin-amin-salehi-175b14125">
                <img src="{{ "images/linkedIn-icon.png" | relURL }}">
            </a>
        </li>
        <!-- <li class="social-media">
            <a href="https://dev.to/adrinamin">
                <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Adrin Amin Salehi's DEV Profile" height="30" width="30">
            </a>
        </li> -->
    </ul>
</header>    