/*
general--------------------------------------------------------------------------------
*/
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: #2eff7b;
  background-color: black;
}

.container {
  margin-top: 5rem;
}

.centered-welcome {
  margin: auto;
  width: 50%;
  text-align: center;
}

/*
navigationbar----------------------------------------------------------------------------
*/
ul.navigationbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.navigationbar li{
  float: right;
}

ul.navigationbar li a {
  display: block;
  color: #2eff7b;;
  text-align: center;
  padding: 2rem 2rem;
  text-decoration: none;
}

ul.navigationbar li a:hover {
  cursor: pointer;
  font-weight: 900;
}

/*
social media links---------------------------------------------------------------------
*/
.social-media-links {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}

.social-media-links a {
    place-self: center;
    margin-bottom: 1rem;
}


/*
squares----------------------------------------------------------------------------
*/
@keyframes square-animation {
    0% {
      left: 0;
      top: 0;
    }
    10.5% {
      left: 0;
      top: 0;
    }
    12.5% {
      left: 32px;
      top: 0;
    }
    23% {
      left: 32px;
      top: 0;
    }
    25% {
      left: 64px;
      top: 0;
    }
    35.5% {
      left: 64px;
      top: 0;
    }
    37.5% {
      left: 64px;
      top: 32px;
    }
    48% {
      left: 64px;
      top: 32px;
    }
    50% {
      left: 32px;
      top: 32px;
    }
    60.5% {
      left: 32px;
      top: 32px;
    }
    62.5% {
      left: 32px;
      top: 64px;
    }
    73% {
      left: 32px;
      top: 64px;
    }
    75% {
      left: 0;
      top: 64px;
    }
    85.5% {
      left: 0;
      top: 64px;
    }
    87.5% {
      left: 0;
      top: 32px;
    }
    98% {
      left: 0;
      top: 32px;
    }
    100% {
      left: 0;
      top: 0;
    }
}

@keyframes hue-rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.loading-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.loading {
    position: relative;
    width: 96px;
    animation: hue-rotate 10s linear infinite both;
}


.loading__square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 2px;
    background: #07a;
    background-image: linear-gradient(45deg, #fa0 40%, #0c9 60%);
    background-image: -moz-linear-gradient(#fa0, #fa0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loading__square:nth-of-type(0) {
    animation-delay: 0s;
}

.loading__square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loading__square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loading__square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loading__square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loading__square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loading__square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loading__square:nth-of-type(7) {
    animation-delay: -10s;
}

/*
breakpoints------------------------------------------------------------------
*/
@media only screen and (min-width: 600px)
{
    .social-media-links {
        margin-bottom: 5rem;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .social-media-links a {
        margin-bottom: 0;
    }
}
  