/*
general--------------------------------------------------------------------------------
*/
:root {
  font-family: "Courier New", Courier, monospace;
  --text-primary: #2eff7b;
  --background: #000000;
}

html {
  scrollbar-color: var(--text-primary) var(--background);
}

body {
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  background-color: black;
}


.container {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.centered-welcome {
  margin: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 600px){
  .container {
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .centered-welcome {
    margin: auto;
    width: 50%;
    text-align: center;
  }
}

/*
navigationbar----------------------------------------------------------------------------
*/

/*
mobile navigation bar behavior
*/

/*
navbar
*/
header.navbar {
  top: 0;
  position: fixed;
  background-color: var(--background);
  box-shadow: 1px 1px 4px 0 rgba(46,255,123,.5);
  width: 100%;
  z-index: 3;
}

header.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

header.navbar ul li a{
  display: block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: var(--text-primary);
  text-align: center;
}

header.navbar ul li a:hover {
  cursor: pointer;
  font-weight: 900;
}

/*
navbar items
*/
header.navbar ul.nav-list {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/*
menu icon
*/
header.navbar label.menu-icon {
  cursor: pointer;
  float: right;
  padding: 1.5rem 1.5rem;
  position: relative;
  user-select: none;
}

header.navbar .menu-icon .nav-icon {
  background: var(--text-primary);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header.navbar .menu-icon .nav-icon:before,
header.navbar .menu-icon .nav-icon:after {
  background: var(--text-primary);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header.navbar .menu-icon .nav-icon:before {
  top: 5px;
}

header.navbar .menu-icon .nav-icon:after {
  top: -5px;
}

/*
menu btn
*/

header.navbar .menu-btn {
  display: none;
}

header.navbar .menu-btn:checked ~ ul.nav-list {
  max-height: 240px;
}

header.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

header.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

/*
social media icons
*/
header.navbar ul.nav-list li.social-media {
  display: none;
}

/*
navigation bar for big screens
*/
@media only screen and (min-width: 48em){

  header.navbar {
    box-shadow: none;
  }

  header.navbar ul li {
    float: left;
  }

  header.navbar ul li a {
    padding: 1.5rem 1.5rem;
  }

  header.navbar ul.nav-list {
    clear: none;
    max-height: none;
  }

  header.navbar label.menu-icon {
    display: none;
  }

  header.navbar ul.nav-list li.social-media {
    display: block;
    padding: 0;
    margin: 0;
    float: right;
  }

  header.navbar ul.nav-list li.social-media a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }

  header.navbar ul.nav-list li.social-media a img {
    width: 20px;
    height: 20px;
  }


}

/*
about page---------------------------------------------------------------------
*/
.about {
  margin-top: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (min-width: 600px){
  .about {
    margin-top: 10rem;
  }
}

/*
squares----------------------------------------------------------------------------
*/
@keyframes square-animation {
    0% {
      left: 0;
      top: 0;
    }
    10.5% {
      left: 0;
      top: 0;
    }
    12.5% {
      left: 32px;
      top: 0;
    }
    23% {
      left: 32px;
      top: 0;
    }
    25% {
      left: 64px;
      top: 0;
    }
    35.5% {
      left: 64px;
      top: 0;
    }
    37.5% {
      left: 64px;
      top: 32px;
    }
    48% {
      left: 64px;
      top: 32px;
    }
    50% {
      left: 32px;
      top: 32px;
    }
    60.5% {
      left: 32px;
      top: 32px;
    }
    62.5% {
      left: 32px;
      top: 64px;
    }
    73% {
      left: 32px;
      top: 64px;
    }
    75% {
      left: 0;
      top: 64px;
    }
    85.5% {
      left: 0;
      top: 64px;
    }
    87.5% {
      left: 0;
      top: 32px;
    }
    98% {
      left: 0;
      top: 32px;
    }
    100% {
      left: 0;
      top: 0;
    }
}

@keyframes hue-rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.loading-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.loading {
    position: relative;
    width: 96px;
    animation: hue-rotate 10s linear infinite both;
}


.loading__square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 2px;
    background: #07a;
    background-image: linear-gradient(45deg, #fa0 40%, #0c9 60%);
    background-image: -moz-linear-gradient(#fa0, #fa0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loading__square:nth-of-type(0) {
    animation-delay: 0s;
}

.loading__square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loading__square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loading__square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loading__square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loading__square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loading__square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loading__square:nth-of-type(7) {
    animation-delay: -10s;
}

  